<!DOCTYPE html>
<html lang="en">

  <head>
    <%-include("../components/head.ejs",{name: 'product-info', scripts:
    ["https://cdn.jsdelivr.net/npm/flatpickr"]}) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
  </head>

  <body>
    <%-include('../components/nav.ejs', {acc})%>
    <div id="product">
      <div class="column">
        <img src="https://storage.googleapis.com/partyshare-2e5c5.appspot.com/<%= product.imageURL %> " alt=""
          id="image" />
        <div id="sub-container">
          <% subimages.forEach(image => { %>
          <img src=<%= `https://storage.googleapis.com/partyshare-2e5c5.appspot.com/${image.imageURL}` %> alt=""
            class="sub" />
          <% }) %>

        </div>
        <% let price = ((product.price / 100).toFixed(2)); %>

        <h2 id="mobile-title"><%=product.name%></h2>
        <p id="price">
          <span>$<%= price.split(".")[0]%></span>
          <sup><%= price.split(".")[1]%></sup>
        </p>
        <p id="lessor"><span>By: </span><b><%=account.name%></b></p>
      </div>
      <div>
        <h2 id="desktop-title"><%= product.name %></h2>
        <div id="desc"><%=product.desc%></div>
        <div id="info"><b>Info</b><br /><%=product.info%></div>
      </div>
      <div class="column" id="checkout-container">
        <form>
          <div id="checkout">
            <% if(uid != account.authID){%>
            <span id="heading">Rent from</span>
            <input type="text" id="start" class="date" />
            <span id="label">to</span>
            <input type="text" id="end" class="date" />

            <label for="quantity">Quantity</label>
            <select name="quantity" id="quantity">
              <% for(let x=1;x<=product.quantity;x++){%>
              <option value="<%=x%>"><%=x%></option>
              <% }%>
            </select>

            <button type="submit" disabled>Checkout</button>
            <% } else{%>
            <button class="edit">Edit</button>
            <button class="delete">Delete</button>
            <% }%>
          </div>
        </form>
      </div>
    </div>
    <div class="hidden">
      <%=JSON.stringify(dates)%>|||<%=JSON.stringify(product)%>
    </div>
    <div class="gallery">
      <a class="prev">&#10094;</a>
      <img src="https://storage.googleapis.com/partyshare-2e5c5.appspot.com/<%= product.imageURL %> " alt=""
        class="gallery-image" />
      <% subimages.forEach(image => { %>
      <img src=<%= `https://storage.googleapis.com/partyshare-2e5c5.appspot.com/${image.imageURL}` %> alt=""
        class="gallery-image" />
      <% }) %>
      <a class="next">&#10095;</a>

  </body>

</html>